<div class="container">
  <div class="row justify-content-center">
    <h4 class="mt-4 mb-4 display-4">Editando Equipamento</h4>
  </div>
  <div class="row justify-content-center">
    <%= form_with(model: @equipamento, local: true) do |form| %>
      <div class="form-group">
        <%= form.label "Descrição:" %>
        <%= form.text_field :descricao, class: 'form-control' %>
      </div>
      <br>
      <div class="form-group">
        <%= form.submit 'Salvar alteração', class: 'form-control btn-primary btn' %>
      </div>
    <% end %>
  </div>
</div>