<div class="container">
  <div class="row justify-content-center">
    <table class="table">
      <tbody>
        <tr>
          <th>Descrição:</th>
        </tr>
        <tr>
          <td><%= @componente.descricao%></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="container">
  <div class="row justify-content-center">
    <h6 class="mt-4 mb-4 display-6">Componentes</h6>
  </div>
  <div class="row justify-content-center">
    
    <table class="table">
      <tbody>
        <tr>
          <th>Descrição:</th>
        </tr>
        <tr>
          <td><%= @equipamento.descricao%></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

</div>